<h1>Restaurants#index</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <%= restaurant.name  %>
      <%= restaurant.category %>
      <%= restaurant.address %>
      <%= restaurant.phone_number %>
      <%= link_to "More details", restaurant_path(restaurant) %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a new restaurant", new_restaurant_path %>