<div class="banner">
  <div class="container text-center">
    <h3><%= @restaurant.name %></h3>
    <p><%= @restaurant.name %> is located <strong><%= @restaurant.address %></strong>.</p>
    <br>
    <p><strong>Phone number:</strong> <%= @restaurant.phone_number %></p>
    <ul class="list-inline">
      <li class="list-inline-item white"><%= link_to "Restaurant's review", restaurant_review_path(@restaurant) %></li>  
      <li class="list-inline-item white"><%= link_to "Review this restaurant", new_restaurant_review_path(@restaurant) %></li>
      <li class="list-inline-item white"><%= link_to "Return to restaurant list", restaurants_path %></li>
    </ul>
  </div>
</div>
